body {
    background-image: url('assets/topography.png')
}
header {
    width: 100%;
    height: 80px;
    background-color: #2e2e2e;
    line-height: 80px;
}

#logo {
    
   
    margin-left: 150px;
    vertical-align: middle;
    width: 50px;
    max-height: 80px;
    
}

.introduction, .instruction {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    
    font-family: 'Courier New', Courier, monospace;
}

#myname {
    font-size: 60px;
    margin-top: 80px;
}

h2 {
    color: magenta;
    
}

.technology {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

ul{
    list-style-type: none;
    float: right;
    vertical-align: middle;
    max-height: 80px;
    margin-top: 0px;
    margin-right: 200px;
    padding: 0;


}

li {
    
    float: right;
    padding: 0px 10px 0px 10px;
    color: magenta;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0px;
    top: 0;
}